 Profile.css
 *{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
} 

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    max-width: 800px; /* Limit the maximum width to prevent it from becoming too wide */
    margin: 0 auto; /* Center horizontally on the page */
  }
  
  .main-title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profile-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-profile-button {
    margin-top: 14px;
    padding: 5px 20px 5px;
    border-radius: 10px;
    background-color: #13b156;
    font-size: larger;
    color: white;
    border: none;
    cursor: pointer;
}

.adoption-summary {
    margin-top: 30px;
}

.adoption-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.adoption-card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    margin-right: 10px;
    flex: 0 1 calc(33.33% - 20px);
}


.bronze {
    background-color: #cd7f32;
    /* Bronze */
}

.silver {
    background-color: #c0c0c0;
    /* Silver */
}

.gold {
    background-color: #ffd700;
    /* Gold */
}

.adoptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.adoption-card img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.adoption-card h4 {
    margin: 10px 0;
    font-size: 15px;
}



 .conservation-rank-card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
} 


.adoption-subtitle {
    font-size: 15px;
    font-weight: bold;
}

.adoption-value-large {
    font-size: 28px;
    margin-top: 10px;
}


.main-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}


.profile-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.profile-icon img:hover {
    transform: scale(1.1);
}

h2 {
    font-size: 20px;
}


.edit-profile-button:hover {
    background-color: #108f47;
}


.adoption-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adoption-card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    margin-right: 10px;
    flex: 0 1 calc(33.33% - 20px);
}


.year {
    background-color: #13b156;
    color: #fff;
}

.adoption-card img:hover {
    transform: scale(1.05);
}

#status-icon:hover {
    transform: scale(1.1);
    
}
#status-icon:hover::after {
    content: "Gold";
    position: absolute;
    top: 0;
    left: 0;
    background-color: gold;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}


.adoption-card a {
    color: #13b156;
    text-decoration: none;
    font-size: 0.6rem;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.2s ease-in-out;
}

.adoption-card a:hover {
    color: #0033cc;
}

/* Responsive Design */
@media (max-width: 750px) {
    .profile-icon img {
        width: 120px;
        height: 120px;
    }

    .edit-profile-button {
        margin-top: 10px;
        padding: 5px 15px;
    }

    
    .adoption-card {
        width: calc(50% - 20px); /*50% width with some margin*/
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .adoption-card a{
        font-size: 0.5rem;
    }
    
    #status {
        font-size: 0.7rem;
    }
}

