* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
}
body{
  margin: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
  height:100vh;
  background-color: #f0f0f0;
}

/* Your existing CSS */

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 42px 14px 43px;
  align-items: center;
}

.header h1 {
  color: #161616;
  /* font-family: Inter; */
  font-size: 32px; /* Default font size */
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: font-size 0.3s ease; /* Add a transition effect */
}

.header button {
  display: inline-flex;
  padding: 9px 30px 9px 30px;
  justify-content: center;
  align-items: center; 
  border-radius: 52px;
  background: #13b156;
  font-size: 18px; /* Default font size */
  transition: font-size 0.3s ease; /* Add a transition effect */
}

/* Add media queries to adjust font sizes for smaller screens */
@media (max-width: 400px) {
  .header h1 {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }

  .header button {
    font-size: 16px;
     /* Adjust the font size for smaller screens */
  }
}

  .col-1 {
    flex: 75%;
    height: 100vh;
    padding: 10px;
    background-color: white;
    border-right: 1px solid #f0f0f0;
  }
  .col-2 {
    flex: 25%;
    height: 100vh;
    padding: 10px;
    background-color: white;
    
  }  
  .col-2 span{
color: #161616;
/* font-family: Inter; */
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

.grid {
  width:100%;
  display: grid;
  grid-template-columns: calc(66% - 5px) calc(34% - 5px);
  grid-template-rows:    calc(50% - 5px) calc(50% - 5px);
  border-radius: 30px;
  aspect-ratio: 16 / 9;
  margin-top: 10px;
}

.grid .left {

  grid-column: 1 / 2;
  grid-row:    1 / span 2;
}

.grid .upper_right {
  grid-column: 2 / 2;
  grid-row:    1 / 2;
}

.grid .lower_right {
  grid-column: 2 / 2;
  grid-row:    2 / 2;
}

.grid .item img {
  width:  100%;
  height: 100%;
  object-fit: cover;
}


.feed-header {
  display: inline-flex;
  align-items: center;
  gap:10px;
}

.feed-title {
  font-size: 18px;
  /* font-family: Inter; */
  font-weight: bold;
  margin: 0;
  color: #333;
  color: #161616;

}

.feed-time {
  font-size: 14px;
  color: #888;
}


.feed-content {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0;
}
 a{
text-decoration: none;
color: #13B156;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
}
